# App
NODE_ENV=development
PORT=3000

# PostgreSQL (Prisma)
POSTGRESQL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public

# MongoDB (Mongoose)
MONGODB_URI=mongodb://USER:PASSWORD@HOST:27017/DATABASE?authSource=admin

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=your-super-secret-key
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=your-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=30d

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
